<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="speakerRepository" class="com.xdlab.repository.StubSpeakerRepository" />

    <bean name="speakerService" class="com.xdlab.service.SpeakerService">
        <constructor-arg index="0" name="speakerRepository" ref="speakerRepository" />
        <!--index how many arguments this constructor has-->
        <!--<property name="speakerRepository" ref="speakerRepository" />-->
        <!--setSpeakerRepository runs-->
    </bean>
</beans>